

<div class="report">
	<div class="reportHeader">{{reportName}}</div>

	<div class="reportBoards">
	{{#each boards}}
		<div class="reportBoard">
			<div boardHeader>{{this.name}}</div>
			<div class="reportCards">
				{{#each this.cards}}
				<div class="reportCard">
					<div class="cardTitle"><a href="{{this.shortUrl}}">{{this.name}}</a></div>
					<div class="cardDesc">{{this.desc}}</div>
				</div>
				{{/each}}
			</div>
		</div>
	{{/each}}
	</div>
</div>